<!-- developed by Naman Jain contact at namanjain28work@gmail.com or visit https://naman-jain-profile.netlify.app/ -->


{% extends 'bootstrap/base.html' %}

{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<style>
body{
  background-color: #eee;
}
</style>
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4" style="color: #b16b6b;">❤☕️ My book 💫❤</h1>   
    <p class="lead"></p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-warning btn-lg" href="/add" role="button">Add a new Freind</a>
    <br>
    <br>
    <a class="btn btn-warning btn-lg" href="/login" role="button">Login Page </a>
    <br>
    <br>
    <a class="btn btn-warning btn-lg" href="https://naman-jain-profile.netlify.app/" role="button">About Developer </a>
</div>
  </div>
</div>

{% endblock %}
